<div id="carouselExampleIndicators" class="carousel slide carousel-fade">
  <div class="carousel-indicators">

    {{#each slides}}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{@index}}" class="{{this.class}}" aria-current="true" aria-label="Slide 1"></button>
     {{/each}}
       
  </div>
  <div class="carousel-inner">

    {{#each slides}}

    <div class="carousel-item  {{this.class}}">
      <img src="{{this.imageUrl}}" class="d-block w-100" alt="...">
       <div class="carousel-caption d-none d-md-block">
        <h2>{{this.title}}</h2>
        <p>{{this.subTitle}}</p>
      </div>
    </div>
       {{/each}}


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>